<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<th:block layout:fragment="stylesheets"></th:block>
</head>

<body>
	<!-- <div th:replace="fragments/header :: header">Header</div>
	<div class="container" layout:fragment="content">Content</div>
	<div th:replace="fragments/footer :: footer">Footer</div> -->

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
		function getPath(url) {
			// ajout du contexte Tomcat
			var context = /*[[@{/}]]*/ '/';
			return context + url;
		}
	</script>

<!-- 	<th:block layout:fragment="scripts"></th:block> -->
</body>
</html>